body {
  background-color: #eee;
  margin: 0;
  padding: 0;
}

h1 {
  color: #aaa;
  font-family: Arial;
  font-size: 55px;
  left: 10px;
  letter-spacing: -1px;
  position: absolute;
  text-transform: uppercase;
  top: 10px;
}
