body {
  background-color: #111;
  margin: 0;
  padding: 0;
}

h1 {
  color: #333;
  font-family: Arial;
  font-size: 85px;
  font-weight: 400;
  left: 10px;
  letter-spacing: -5px;
  position: absolute;
  text-transform: uppercase;
  top: 10px;
  width: 300px;
  z-index: 1;
}

canvas {
  left: 0;
  position: absolute;
  top: 0;
  z-index: 2;
}
