body {
  background-color: #eee;
  margin: 0;
  padding: 0;
}

h1 {
  color: #aaa;
  font-family: Arial;
  font-size: 75px;
  left: 10px;
  letter-spacing: -2px;
  position: absolute;
  text-transform: uppercase;
  top: 10px;
  z-index: 1;
}

canvas {
  left: 0;
  position: absolute;
  top: 0;
  z-index: 2;
}
